body {
    padding: 0;
    margin: 0;
    width: 100%;
}

section {
    padding: 20px 20px 0;
    text-align: center;
}

h1 {
    margin: 0 auto 20px;
}

table {
    width: 100%;
}

th,
td {
    border: 1px solid;
}